---
import Base from "@/layouts/Base.astro";
import { getCollection, render } from "astro:content";
import { FaHome } from "react-icons/fa";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base title={post.data.title}>
  {
    post.data.draft ? (
      <div class="flex justify-center rounded-xl bg-[repeating-linear-gradient(45deg,rgb(251_191_36_/_0.4),rgb(251_191_36_/_0.4)_10px,rgb(245_158_11_/_0.4)_10px,rgb(245_158_11_/_0.4)_20px)] py-4">
          <div class="text-xl">This is a <span class="underline">draft</span></div>
      </div>
    ) : null
  }
  <Content />
</Base>
