---
import Base from "@/layouts/Base.astro";
---

<Base title="404">
  <div class="flex h-full w-full items-center justify-center tracking-tight">
    <h1 class="text-6xl font-bold">404</h1>
  </div>
</Base>
