---
const { url, text, "class": className } = Astro.props;

console.log(Astro.props)
---

<a
  href={url}
  class={`flex w-fit flex-row items-center gap-1.5 rounded-lg px-2 py-1 transition-colors hover:bg-zinc-900 hover:text-zinc-200 hover:dark:bg-zinc-200 hover:dark:text-zinc-900 ${className}`}
>
  <slot />
  <span class="sm:block break-keep">{text}</span>
</a>